@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

/* Header  */

header{
    width: 100%;
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: contain;
}

.flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
}

.cont{
    padding: 5px;
}


.but-accedi{
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid white;
    padding: 4px 8px;
    
}

.but-centr1{
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: 8px 15px;
}



.but-centr2{
    border-radius: 15px;
    background-color: #23272a;
    color: white;
    border: 1px solid #23272a;
    padding: 8px 15px;
}



ul li{
    display: inline-block;
    padding: 5px 20px;
    
}

.cont-centr{
    margin: auto;
    width: 45%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

div p{
    font-size: 15px;
    padding-top: 30px;
    
    
}

/* main-section */

.box{
    width: 100%;
    
}

.box1{
    background-color: white;
}

.box2{
    background-color: #f6f6f6;
    
}

.container-flex{
    width: 80%;
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    
}

.grey{
    background-color: #f6f6f6;
    flex-direction: row-reverse;
}

.pippo{
    width: 50%;
}

.pluto{
    width: 30%;
    padding-top: 30px;
    font-size: 27px;
}


.pluto p{
    font-size: 18px;
}

.sect-bot{
    width: 100%;
    background-color: #f6f6f6;
}

.cont-flex{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
   
    

}

.row1{
    background-color: darkred;
  
    width: 100%;
    margin-top: 30px;
}

.row2{
    background-color: brown;
    
    width: 100%;

}

.row3{
    background-color: salmon;
   
    width: 100%;
}

/* footer */

footer{
    width: 100%;
    margin: auto;
    height: 650px;
    background-color: #23272a;
}

.foot-cont{
    display: flex;
    justify-content: center;
    height: 500px;
    
}

.foot-item1{
    background-color: chocolate;
    flex-basis: 15%;
    height: 500px;
}

.foot-item{
    background-color: fuchsia;
    flex-basis: 15%;
    height: 500px;
}

.foot-item2{
    background-color: chocolate;
    flex-basis: 19%;
    height: 500px;
}

.foot-cont2{
    height: 100px;
    display: flex;
    justify-content: center;
    
}

.ale1{
    background-color: blue;
    width: 140px;
    flex-basis: 19%;
}

.ale2{
    background-color: aqua;
    width: 450px;
    flex-basis: 41%;
}